<form id="form" action="/bar" method="post">
    <fieldset>
        <legend>Informations</legend>
        <label for="name">Nom</label>
        <input name="name" type="text" placeholder="Nom" id="name" required>
    </fieldset>
    <table>
        <tr>
            <td>
                <h3>Bières servies :</h3>
                <fieldset id="beer">
                    <legend>Bière</legend>
                    <label for="beer_list">Nom</label>
                    <select name="beer[]" id="beer_list">
                        {beer_list}
                    </select>
                    <br>
                    <label for="volume">Volume</label>
                    <input name="volume[]" type="number" placeholder="Volume" id="volume" required>
                    <label for="volume">centilitres</label>
                    <br>
                    <label for="price">Prix</label>
                    <input name="price[]" type="number" step="0.05" placeholder="Prix" id="price" required>
                    <label for="price">CHF</label>
                </fieldset>
                <br>
                <input type="button" onclick="addFields('beer')" value="Ajouter une bière">
            </td>
            <td>
                <h3>Heures d'ouvertures :</h3>
                <fieldset id="schedule">
                    <legend>Horaire</legend>
                    <label for="day">Jour</label>
                    <select name="day[]" id="day">
                        <option value=1>Lundi</option>
                        <option value=2>Mardi</option>
                        <option value=3>Mercredi</option>
                        <option value=4>Jeudi</option>
                        <option value=5>Vendredi</option>
                        <option value=6>Samedi</option>
                        <option value=7>Dimanche</option>
                    </select>
                    <br>
                    <label for="open">Ouverture</label>
                    <input name="open[]" type="time" id="open" required>
                    <br>
                    <label for="closed">Fermeture</label>
                    <input name="closed[]" type="time" id="closed" required>
                </fieldset>
                <br>
                <input type="button" onclick="addFields('schedule')" value="Ajouter un jour">
            </td>
    </table>
    <p>
        <button name="submit">Envoyer</button>
    </p>
</form>

<script>
    function addFields(id)
    {
        var fields = "<br><fieldset>" + document.getElementById(id).innerHTML + "</fieldset>";
        document.getElementById(id).insertAdjacentHTML("afterend", fields);
    }
</script>
