body
{
    color: #cacaca;
    background-color: #14191e;
    font-family: verdana;
    text-align: center;
}

td, th
{
    border: 1px solid #cacaca;
    padding: 10px;
}

table
{
    border-collapse: collapse;
    margin: auto;
}

fieldset
{
    display: inline-block;
}

a
{
    color: #0055ee;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
    color: #cc8800;
}

footer
{
    font-size: 0.8em;
    margin-top: 30px;
}